################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/SapphireXR/.vs
/SapphireXR/SapphireXR.~u
/SapphireXR/SapphireXR_App/bin/
/SapphireXR/SapphireXR_App/obj/
/SapphireXR/_Boot
/SapphireXR/PLC_MR/_CompileInfo
/SapphireXR/PLC_MR/PLC_MR.tmc
/SapphireXR/PLC_MR/PlcTask.TcTTO
/SapphireXR/PLC_MR/PlcTask_Standard.TcTTO
/SapphireXR/SapphireXR.project.~u
/SapphireXR/SapphireXR.tsproj.bak
/SapphireXR/TrialLicense.tclrs
