################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/SapphireXR/.vs/
/SapphireXR/SapphireXR_App/bin/
/SapphireXR/SapphireXR_App/obj/
/SapphireXR/UpgradeLog.htm
/SapphireXR/_Boot
/SapphireXR/PLC_MR
/SapphireXR/SapphireXR.project.~u
/SapphireXR/SapphireXR_App/SapphireXR_App.csproj.user
/SapphireXR_Test/SapphireXR_App/SapphireXR_App.csproj.user
/SapphireXR/SapphireXR.~u
/SapphireXR/SapphireXR.tsproj.bak
/SapphireXR/_Boot/CurrentConfig/PLC_MR.tpzip
/SapphireXR/_Boot/TwinCAT RT (x64)/CurrentConfig/PLC_MR.tpzip
/SapphireXR/_Boot/TwinCAT RT (x64)/Plc/Port_851.cid
/SapphireXR/_Boot/TwinCAT RT (x64)/Plc/Port_851.occ
/SapphireXR/_Boot/TwinCAT RT (x64)/CurrentConfig.tszip
/SapphireXR/_Boot/TwinCAT RT (x64)/CurrentConfig.xml
/SapphireXR/_Boot/TargetDescription.xml
/SapphireXR/PLC_MR/PLC_MR.tmc
/SapphireXR/PLC_MR/POUs/MAIN.TcPOU
/SapphireXR/PLC_MR/POUs/MAIN.TcPOU
/SapphireXR/PLC_MR/GVLs/GVL_IO.TcGVL
/SapphireXR/PLC_MR/GVLs/GVL_IO.TcGVL
/SapphireXR/PLC_MR/POUs/MAIN.TcPOU
/SapphireXR/PLC_MR/POUs/P30_GasFlowControl.TcPOU
